* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

body {
    background-color: #b91450;
}

.border-radius {
    border-radius: 10px;
    border: 1px black solid;
}

.info {
    border-radius: 10px;
}

.info ul,
.ticket ul {
    list-style: none;
}

#biglietto {
    border: 1px solid black;
    border-right: none;
}


/* COLORS */

.bg-white {
    background-color: white;
}

.bg-gray {
    background-color: #808080;
}